USE [master]
GO
/****** Object:  Database [autentication]    Script Date: 24/3/2025 17:32:18 ******/
CREATE DATABASE [autentication]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'autentication', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\autentication.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'autentication_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\autentication_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [autentication].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [autentication]
GO
/****** Object:  Table [dbo].[MonitoreosProgramados]    Script Date: 24/3/2025 17:32:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonitoreosProgramados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Materia] [nvarchar](100) NOT NULL,
	[Docente] [nvarchar](100) NOT NULL,
	[Responsable] [nvarchar](100) NOT NULL,
	[Aula] [nvarchar](50) NOT NULL,
	[HoraInicio] [time](7) NOT NULL,
	[HoraFin] [time](7) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Recorrido] [nvarchar](20) NOT NULL,
	[Jornada] [nvarchar](20) NOT NULL,
	[Ciclo] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistrosMonitoreo]    Script Date: 24/3/2025 17:32:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistrosMonitoreo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MonitoreoProgramadoId] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
	[Comentarios] [nvarchar](max) NULL,
	[Feedback] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reportes]    Script Date: 24/3/2025 17:32:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reportes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MonitoreoProgramadoId] [int] NOT NULL,
	[FechaGeneracion] [datetime] NULL,
	[GeneradoPor] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Estado] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 24/3/2025 17:32:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[IdRol] [int] NOT NULL,
	[Descripcion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 24/3/2025 17:32:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[Nombres] [varchar](50) NULL,
	[Correo] [varchar](50) NULL,
	[Clave] [varchar](50) NULL,
	[IdRol] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MonitoreosProgramados_Jornada_Ciclo]    Script Date: 24/3/2025 17:32:19 ******/
CREATE NONCLUSTERED INDEX [IX_MonitoreosProgramados_Jornada_Ciclo] ON [dbo].[MonitoreosProgramados]
(
	[Jornada] ASC,
	[Ciclo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MonitoreosProgramados_Recorrido]    Script Date: 24/3/2025 17:32:19 ******/
CREATE NONCLUSTERED INDEX [IX_MonitoreosProgramados_Recorrido] ON [dbo].[MonitoreosProgramados]
(
	[Recorrido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RegistrosMonitoreo_MonitoreoProgramadoId]    Script Date: 24/3/2025 17:32:19 ******/
CREATE NONCLUSTERED INDEX [IX_RegistrosMonitoreo_MonitoreoProgramadoId] ON [dbo].[RegistrosMonitoreo]
(
	[MonitoreoProgramadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Reportes] ADD  DEFAULT (getdate()) FOR [FechaGeneracion]
GO
ALTER TABLE [dbo].[Reportes] ADD  DEFAULT ('Generado') FOR [Estado]
GO
ALTER TABLE [dbo].[RegistrosMonitoreo]  WITH CHECK ADD FOREIGN KEY([MonitoreoProgramadoId])
REFERENCES [dbo].[MonitoreosProgramados] ([Id])
GO
ALTER TABLE [dbo].[Reportes]  WITH CHECK ADD FOREIGN KEY([MonitoreoProgramadoId])
REFERENCES [dbo].[MonitoreosProgramados] ([Id])
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[ROL] ([IdRol])
GO
ALTER TABLE [dbo].[MonitoreosProgramados]  WITH CHECK ADD  CONSTRAINT [CHK_Hora] CHECK  (([HoraInicio]<[HoraFin]))
GO
ALTER TABLE [dbo].[MonitoreosProgramados] CHECK CONSTRAINT [CHK_Hora]
GO
ALTER TABLE [dbo].[MonitoreosProgramados]  WITH CHECK ADD  CONSTRAINT [CHK_Jornada] CHECK  (([Jornada]='domingo' OR [Jornada]='sabado'))
GO
ALTER TABLE [dbo].[MonitoreosProgramados] CHECK CONSTRAINT [CHK_Jornada]
GO
USE [master]
GO
